.Qbtn_search[b-3p9b5oi8hf] {
    width: 30%;
    margin-left: 10px;
    background-color: var(--c-green2-100);
    color: white;
}

    .Qbtn_search:active[b-3p9b5oi8hf] {
        background-color: var(--c-green2-100) !important;
        color: var(--c-orange-100) !important;
    }

    .Qbtn_search:hover[b-3p9b5oi8hf] {
        background-color: var(--c-green2-100);
        color: var(--c-orange-100);
        animation: ani_btn .75s infinite;
    }

#Qsel_type1[b-3p9b5oi8hf] {
    width: 30%;
    text-align: center;
    font-size: 1rem;
}

#Qbox_search_type[b-3p9b5oi8hf] {
    width: 65%;
    margin-left: 10px;
}

#Qbox_search_year1[b-3p9b5oi8hf] {
    width: 44%;
    margin-right: 10px;
    text-align: center;
}

#Qbox_search_year2[b-3p9b5oi8hf] {
    width: 44%;
    margin-left: 10px;
    text-align: center;
}

#Qsel_lang[b-3p9b5oi8hf], #Qsel_type2[b-3p9b5oi8hf] {
    width: 98%;
    font-size: 1rem;
}

    #Qbox_search:focus[b-3p9b5oi8hf],
    #Qsel_type1:focus[b-3p9b5oi8hf],
    #Qbox_search_type:focus[b-3p9b5oi8hf],
    #Qbox_search_year1:focus[b-3p9b5oi8hf],
    #Qbox_search_year2:focus[b-3p9b5oi8hf],
    #Qsel_lang:focus[b-3p9b5oi8hf],
    #Qsel_type2:focus[b-3p9b5oi8hf] {
        border-color: var(--bs-border-color);
        box-shadow: none;
    }

.Qbtn_hot[b-3p9b5oi8hf] {
    min-width: 10%;
    max-width: 20%;
    margin-left: 20px;
    background-color: var(--c-blue---050);
    color: white;
}

    .Qbtn_hot:active[b-3p9b5oi8hf] {
        background-color: var(--c-blue---050) !important;
        color: white !important;
    }

    .Qbtn_hot:hover[b-3p9b5oi8hf] {
        background-color: var(--c-blue---050);
        color: white;
        animation: ani_btn .75s infinite;
    }
