.btn_dFav[b-n84bzx34u8] {
    background-color: var(--c-red----100);
}

    .btn_dFav:focus[b-n84bzx34u8] {
        background-color: var(--c-red----100);
        color: white;
    }

    .btn_dFav:hover[b-n84bzx34u8] {
        color: white;
    }
