.btn_cFav[b-1rzojwzdvy] {
    background-color: var(--c-green2-100);
}

    .btn_cFav:focus[b-1rzojwzdvy] {
        background-color: var(--c-green2-100);
        color: white;
    }

.btn_dFav[b-1rzojwzdvy] {
    background-color: var(--c-red----100);
}

    .btn_dFav:focus[b-1rzojwzdvy] {
        background-color: var(--c-red----100);
        color: white;
    }

.btn-open-comment[b-1rzojwzdvy] {
    background-color: var(--c-blue1--075);
}

    .btn-open-comment:focus[b-1rzojwzdvy] {
        background-color: var(--c-blue1--075);
        color: white;
    }

    .btn_cFav:hover[b-1rzojwzdvy],
    .btn_dFav:hover[b-1rzojwzdvy],
    .btn-open-comment:hover[b-1rzojwzdvy] {
        color: white;
    }
